In [1]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn import metrics
from sklearn.model_selection import train_test_split
import pandas as pd

In [2]:
data = pd.read_csv('mnist.csv')

print(data.shape)
data.head()

(42000, 785)

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
labels = data[['label']]

data.drop(['label'], axis=1, inplace=True)

In [4]:
print(labels.shape)
labels.head()

(42000, 1)

   label
0      1
1      0
2      1
3      4
4      0

In [5]:
print(data.shape)
data.head()

(42000, 784)

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
train_set, test_set, train_label, test_label = train_test_split(data, labels, test_size=0.3)

In [7]:
print(train_set.shape)
print(train_label.shape)

(29400, 784)
(29400, 1)

In [8]:
print(test_set.shape)
print(test_label.shape)

(12600, 784)
(12600, 1)

In [9]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

# Fit on training set only.
scaler.fit(train_set)

# Apply transform to both the training set and the test set.
train_set = scaler.transform(train_set)
test_set = scaler.transform(test_set)

C:\Users\caiov\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\caiov\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.

C:\Users\caiov\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  if __name__ == '__main__':

In [10]:
from sklearn.decomposition import PCA

In [11]:
pca = PCA(0.85, svd_solver = 'full')
# pca = PCA(n_components = 2, svd_solver = 'auto')

In [32]:
pca.fit(train_set)

print(pca.n_components_)

if pca.n_components_ < 11:
    print(pca.explained_variance_)

175

In [16]:
train_set_pca = pca.transform(train_set)
test_set_pca = pca.transform(test_set)

In [17]:
from sklearn.linear_model import LogisticRegression
from time import time

In [30]:
start = time()

logistic_regression = LogisticRegression(solver='lbfgs', multi_class='auto')

logistic_regression.fit(train_set, train_label.label.values)

score = logistic_regression.score(test_set, test_label.label.values)
print(score)

print('Finshed in:', time() - start, 'seconds')

0.9057142857142857
Finshed in: 11.962100744247437 seconds

C:\Users\caiov\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

In [31]:
start = time()

logistic_regression_pca = LogisticRegression(solver='lbfgs', multi_class='auto')

logistic_regression_pca.fit(train_set_pca, train_label.label.values)

score_pca = logistic_regression_pca.score(test_set_pca, test_label.label.values)
print(score)

print('Finshed in:', time() - start, 'seconds')

0.9057142857142857
Finshed in: 5.172176361083984 seconds

C:\Users\caiov\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)